<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Manoj Sanghvi</span>
        <span class="site-description">Stamp Vendor</span>
        <span class="site-position">Court Parisar, Mandsaur</span>
      </h1>

      <!-- Contact Icons Row -->
      <div class="header-icons">
        <!-- Phone -->
        <a aria-label="Call" href="tel:+919893642228">
          <i class="icon fa fa-phone"></i>
        </a>

        <!-- Email -->
        <a aria-label="Send email" href="mailto:manojsanghvi2311@gmail.com">
          <i class="icon fa fa-envelope"></i>
        </a>

        <!-- Address -->
        <a aria-label="Location" href="https://maps.app.goo.gl/FC1GAKmovX2JsSXF6?g_st=aw" target="_blank">
          <i class="icon fa fa-map-marker"></i>
        </a>
      </div>
  </div>
</div>
