<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">Manoj Sanghvi</span>
        <span class="site-position">Stamp Vendor</span>
        <span class="site-qualification">Court Parisar, Mandsaur</span>
      </h1>
      <div class="header-icons">
        <!-- Phone -->
        <a aria-label="Call" href="tel:+919893642228">
          <i class="icon fa fa-phone"></i>
        </a>
      
        <!-- Email -->
        <a aria-label="Send email" href="mailto:manojsanghvi2311@gmail.com">
          <i class="icon fa fa-envelope"></i>
        </a>
      
        <!-- Address -->
        <div class="contact-address">
          <i class="icon fa fa-map-marker"></i>
          Court Parisar, Mandsaur, Madhya Pradesh
        </div>
      </div>
  </div>
</div>
